{% extends 'base.html' %}
{% block main %}
    <section class="main">
        <div class="va-container">
            <div class="login-container">
                <h1 class="login-tittle">Fundación Escuela Taller de Bogotá</h1>
                <h2 class="login-tittle">Seguimiento a contratos</h2>
                <div class="form-login">
                    <div class="form-login__header">
                        <h2 class="form-login__title">Bienvenido</h2>
                    </div>
                    <div class="form-login__content">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-login__input">
                                <span class="form-login__label--user fa fa-user"></span>
                                {{ form.username }}
                            </div>
                            <div class="form-login__input">
                                <span class="form-login__label--pass fa fa-unlock"></span>
                                {{ form.password }}
                            </div>
                            <div class="form-login__actions">
                                <button class="btn btn--default"><span class="fa fa-sign-in"></span> Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}