{% extends 'base__loged.html' %}
{% load humanize %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Dashboard</h2>
    </div>
    <section class="info__modules">
        <div class="info__last-contract">
            <span>Último contrato ingresado:</span> {{ last_contract.get_contract_number }}
        </div>
        <div class="info__lists-contracts">
            <div class="info__contracts-expires">
                <h2>Contratos próximos a vencer</h2>
                {% for e in contract_expires %}
                    {% if forloop.first %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Contrato</th>
                                    <th>Contratista</th>
                                    <th>Fecha de terminación</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                    {% endif %}
                                <tr>
                                    <td><a href="{% url 'contract:detail' e.id %}">{{ e.get_contract_number }}</a></td>
                                    <td>{{ e.contractor.name }}</td>
                                    <td>{{ e.end_date }}</td>
                                    <td>{{ e.total_amount|intcomma }}</td>
                                </tr>
                    {% if forloop.last %}
                            </tbody>
                        </table>
                    {% endif %}
                {% empty %}

                {% endfor %}
            </div>
            <div class="info__contracts-without-scan">
                <h2>Contratos sin documento digital</h2>
                {% for e in contract_without_scan %}
                    {% if forloop.first %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Contrato</th>
                                    <th>Contratista</th>
                                    <th>Fecha de suscripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                    {% endif %}
                                <tr>
                                    <td><a href="{% url 'contract:detail' e.id %}">{{ e.get_contract_number }}</a></td>
                                    <td>{{ e.contractor.name }}</td>
                                    <td>{{ e.subscription_date }}</td>
                                    <td>{{ e.total_amount|intcomma }}</td>
                                </tr>
                    {% if forloop.last %}
                            </tbody>
                        </table>
                    {% endif %}
                {% empty %}

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}