{% extends 'base__loged.html' %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Pagos</h2>
        <div class="header__modules__actions">
            <a href="#" class="btn btn--default"><i class="fa fa-plus-circle"></i> Agregar Pago</a>
        </div>
    </div>
{% endblock %}