{% extends 'base__loged.html' %}
{% load static from staticfiles %}
{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/chosen.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/default.date.css' %}"/>
{% endblock %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Agregar Contrato</h2>
        <div class="header__modules__actions">
            <a href="{% url 'contract:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="form__modules">
        <form action="." method="post" enctype="multipart/form-data" id="formContract">
            {% csrf_token %}
            <input id="id_user" name="user" type="hidden" value="{{ user.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                <div class="quarter-width">{{ form.contract_number.label_tag }}</div>
                <div class="quarter-width">{{ form.typology.label_tag }}</div>
                <div class="quarter-width">{{ form.state.label_tag }}</div>
                <div class="quarter-width">{{ form.contractor.label_tag }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="quarter-width">{{ form.contract_number }}-{{ form.contract_year }}</div>
                <div class="quarter-width display-flex">{{ form.typology }}</div>
                <div class="quarter-width">{{ form.state }}</div>
                <div class="quarter-width">{{ form.contractor }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="quarter-width">{{ form.contract_number.errors }}{{ form.contract_year.errors }}</div>
                <div class="quarter-width">{{ form.typology.errors }}</div>
                <div class="quarter-width">{{ form.state.errors }}</div>
                <div class="quarter-width">{{ form.contractor.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.contract_object.label_tag }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.contract_object }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.contract_object.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="fifth-width">{{ form.subscription_date.label_tag }}</div>
                <div class="fifth-width">{{ form.init_date.label_tag }}</div>
                <div class="fifth-width">{{ form.end_date.label_tag }}</div>
                <div class="fifth-width">{{ form.responsive_area.label_tag }}</div>
                <div class="fifth-width">{{ form.project.label_tag }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="fifth-width">{{ form.subscription_date }}</div>
                <div class="fifth-width">{{ form.init_date }}</div>
                <div class="fifth-width">{{ form.end_date }}</div>
                <div class="fifth-width display-flex">{{ form.responsive_area }}</div>
                <div class="fifth-width display-flex">{{ form.project}}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="fifth-width">{{ form.subscription_date.errors }}</div>
                <div class="fifth-width">{{ form.init_date.errors }}</div>
                <div class="fifth-width">{{ form.end_date.errors }}</div>
                <div class="fifth-width">{{ form.responsive_area.errors }}</div>
                <div class="fifth-width">{{ form.project.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="fifth-width">{{ form.total_amount.label_tag }}</div>
                <div class="fifth-width">{{ form.advance_amount.label_tag }}</div>
                <div class="fifth-width">{{ form.policy_number.label_tag }}</div>
                <div class="fifth-width">{{ form.scan.label_tag }}</div>
                <div class="fifth-width">{{ form.archive.label_tag }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="fifth-width">{{ form.total_amount }}</div>
                <div class="fifth-width">{{ form.advance_amount }}</div>
                <div class="fifth-width">{{ form.policy_number }}</div>
                <div class="fifth-width">{{ form.scan }}</div>
                <div class="fifth-width">{{ form.archive }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="fifth-width">{{ form.total_amount.errors }}</div>
                <div class="fifth-width">{{ form.advance_amount.errors }}</div>
                <div class="fifth-width">{{ form.policy_number.errors }}</div>
                <div class="fifth-width">{{ form.scan.errors }}</div>
                <div class="fifth-width">{{ form.archive.errors }}</div>
            </div>

            <div class="form-modules--row form-modules--row-right">
                <button class="btn btn--default" type="submit"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/vendor/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'js/vendor/picker.js' %}"></script>
    <script src="{% static 'js/vendor/picker.date.js' %}"></script>
    <script src="{% static 'js/vendor/translations/es_ES.js' %}"></script>
    <script src="{% static 'js/contract_app.js' %}"></script>
{% endblock %}