{% extends 'base__loged.html' %}
{% load humanize %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Contrato {{ object.get_contract_number }}</h2>
        <div class="header__modules__actions">
            <a href="javascript:history.back()" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Listado de contratos</a>
        </div>
    </div>
    <section class="detail">
        <div class="column column--left">
            <div class="detail__item">
                <span>Contratista:</span><p><a href="{% url 'contractor:detail' object.contractor.id %}">{{ object.contractor.name }}</a></p>
            </div>
            <div class="detail__item">
                <span>Fecha suscripción:</span>
                <p>{{ object.subscription_date }}</p>
            </div>
        </div>
        <div class="column column-center">
            <div class="detail__item">
                <span>Estado:</span>
                <p>{{ object.get_state_display }}</p>
            </div>
            <div class="detail__item">
                <span>Fecha de inicio:</span>
                <p>{{ object.init_date }}</p>
            </div>
        </div>
        <div class="column column-right">
            <div class="detail__item">
                <span>Tipo:</span>
                <p>{{ object.typology.name_typology }}</p>
            </div>
            <div class="detail__item">
                <span>Fecha de terminación:</span>
                <p>{{ object.end_date }}</p>
            </div>
        </div>
        <div class="column column--fullwidth">
            <div class="detail__item">
                <span>Objeto:</span>
                <p>{{ object.contract_object }}</p>
            </div>
        </div>
        <div class="column column--left">
            <div class="detail__item">
                <span>Proyecto:</span><p>{{ object.project.name_resource }}</p>
            </div>
            <div class="detail__item">
                <span>Monto total:</span>
                <p>$ {{ object.total_amount|intcomma }}</p>
            </div>
            <div class="detail__item">
                <span>Ubicación física:</span>
                <p>{% if object.archive %}{{ object.archive }}{% else %}No se ha ingresado la ubicación{% endif %}</p>
            </div>
        </div>
        <div class="column column-center">
            <div class="detail__item">
                <span>Área responsable:</span>
                <p>{{ object.responsive_area.name_area }}</p>
            </div>
            <div class="detail__item">
                <span>Monto avance:</span>
                <p>$ {{ object.advance_amount|intcomma }}</p>
            </div>
        </div>
        <div class="column column-right">
            <div class="detail__item">
                <span>Documento digital:</span>
                <p>{% if object.scan %}<a href="{{ MEDIA_URL }}{{ object.scan }}" target="_blank">Contrato</a>{% else %}No se ha subido el contrato{% endif %}</p>
            </div>
            <div class="detail__item">
                <span>No de Póliza:</span>
                <p>{{ object.policy_number }}</p>
            </div>
        </div>
        <h3>Prórrogas</h3>
        {% for p in object.extension_set.all %}
            <div class="column column--halfwidth">
                <div class="detail__item">
                    <span>Fecha de terminación:</span>
                    <p>{{ p.end_date }} </p>
                </div>
            </div>
            <div class="column column--halfwidth">
                <div class="detail__item">
                    <span>Documento:</span>
                    <p>{% if p.scan %}<a href="{{ MEDIA_URL }}{{ p.scan }}" target="_blank">Prorroga</a>{% else %}No se ha subido la prorroga{% endif %}</p>
                </div>
            </div>
        {% empty %}
            <h4>Este contrato no tiene prorrogas</h4>
        {% endfor %}
        <h3>Adiciones</h3>
        {% for p in object.addition_set.all %}
            <div class="column column--halfwidth">
                <div class="detail__item">
                    <span>Valor adición:</span>
                    <p>{{ p.value }} </p>
                </div>
            </div>
            <div class="column column--halfwidth">
                <div class="detail__item">
                    <span>Documento:</span>
                    <p>{% if p.scan %}<a href="{{ MEDIA_URL }}{{ p.scan }}" target="_blank">Adición</a>{% else %}No se ha subido la adición{% endif %}</p>
                </div>
            </div>
        {% empty %}
            <h4>Este contrato no tiene adiciones</h4>
        {% endfor %}
        <h3>Otrosi</h3>
        {% for p in object.otheryes_set.all %}
            <div class="column column--halfwidth">
                <div class="detail__item">
                    <span>Descripción:</span>
                    <p>{{ p.description }} </p>
                </div>
            </div>
            <div class="column column--halfwidth">
                <div class="detail__item">
                    <span>Documento:</span>
                    <p>{% if p.scan %}<a href="{{ MEDIA_URL }}{{ p.scan }}" target="_blank">Otrosi</a>{% else %}No se ha subido el otro sí{% endif %}</p>
                </div>
            </div>
        {% empty %}
            <h4>Este contrato no tiene otrosí</h4>
        {% endfor %}
    </section>
{% endblock %}