{% extends 'base__loged.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Contratos</h2>
        <div class="header__modules__actions">
            {% if user.is_staff %}
            <a href="{% url 'contract:add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Agregar Contratos</a>
            {% endif %}
        </div>
    </div>
    <div class="filter__modules">
        <form action="." method="get" class="form__filter">
            {% for f in form %}
                <div class="filter__item">
                    {{ f.label_tag }}{{ f }}
                </div>
            {% endfor %}
            <div class="filter__actions">
                <button type="reset" id="reset_filter_form" class="btn btn--warning"><i class="fa fa-close"></i> Resetear</button>
                <button type="submit" class="btn btn--success"><i class="fa fa-filter"></i> Filtrar</button>
            </div>
        </form>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Contratista</th>
                    <th>Tipo</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th></th>
                    {% if user.is_staff %}
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for c in object_list %}
                    <tr>
                        <td>{{ c.contract_number }}-{{ c.contract_year }}</td>
                        <td>{{ c.contractor.name }}</td>
                        <td>{{ c.typology.name_typology }}</td>
                        <td>{{ c.init_date|date:'d/m/Y' }}</td>
                        <td>{{ c.end_date|date:'d/m/Y' }}</td>
                        <td>$ {{ c.total_amount|intcomma }}</td>
                        <td>{{ c.get_state_display }}</td>
                        <td><a class="btn btn--default" href="{% url 'contract:detail' c.id %}" title="Detalle"><i class="fa fa-eye"></i></a></td>
                        {% if user.is_staff %}
                            <td><a class="btn btn--default" href="{% url 'contract:edit' c.id %}" title="Editar"><i class="fa fa-edit"></i></a></td>
                            <td><a class="btn btn--warning" href="{% url 'contract:extension_add_inline' c.id %}" title="Prorroga"><i class="fa fa-calendar"></i></a></td>
                            <td><a class="btn btn--warning" href="{% url 'contract:addition_add_inline' c.id %}" title="Adición"><i class="fa fa-dollar"></i></a></td>
                            <td><a class="btn btn--warning" href="{% url 'contract:otheryes_add_inline' c.id %}" title="Otro Si"><i class="fa fa-file-text-o"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/contract_app_index.js' %}"></script>
{% endblock %}