{% load static from staticfiles %}
<!doctype html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <title>Agregar {{ field }}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <script src="{% static 'js/RelatedObjectLookups.js' %}"></script>
</head>
<body>
    <div class="row">
        <div class="center">
            <h1>Agregar Área</h1>
        </div>
    </div>

    <section class="form-modules">
        <form action="/contratos/add/{{ field }}/" method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-modules--row form-modules--row-justify">
                {{ f.label_tag }}{{ f }}
            </div>
            {% endfor %}
            <div class="form-modules--row form-modules--row-right">
                <button type="submit" class="btn btn--default"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
</body>
</html>