{% extends 'base__loged.html' %}
{% load static from staticfiles %}
{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/chosen.css' %}"/>
{% endblock %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Agregar Adición</h2>
        <div class="header__modules__actions">
            <a href="{% url 'contract:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Volver a contratos</a>
        </div>
    </div>
    <section class="form__modules form__modules--middle-width">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="user" id="id_user" value="{{ user.id }}"/>
            <input type="hidden" name="contract" id="id_contract" value="{{ contrato.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.value.label }}{{ form.value }}{{ form.value.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.scan.label }}{{ form.scan }}{{ form.scan.errors }}</div>
            </div>
            <button type="submit" class="btn btn--default"><i class="fa fa-save"></i> Guardar</button>
        </form>
    </section>
{% endblock %}