{% extends 'base__loged.html' %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Adiciones</h2>
        <div class="header__modules__actions">
{#            <a href="{% url 'contract:addition_add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Agregar Adición</a>#}
        </div>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
            <tr>
                <th>Contrato</th>
                <th>Valor Prorroga</th>
                <th>Documento</th>
                <th>Ingresada el</th>
            </tr>
            </thead>
            <tbody>
                {% for a in object_list %}
                    <tr>
                        <td>{{ a.contract.get_contract_number }}</td>
                        <td>{{ a.value }}</td>
                        <td>
                            <p>{% if a.scan %}<a href="{{ MEDIA_URL }}{{ a.scan }}" target="_blank">Adición</a>{% else %}No se ha subido la adición{% endif %}</p>
                        </td>
                        <td>{{ a.created_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="center">
                            No hay Adiciones
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}