/* ------ BUTTONS ------ */
.btn {
    background-color: #ffffff;
    border: 1px solid $grey2;
    border-radius: 0.25em;
    display: inline-block;
    line-height: 0;
    padding: 0.5em;
    text-decoration: none;

    &--default {
        background-color: #4169e1;
        color: #ffffff
    }

    &--warning {
        background-color: #e85700;
        color: #000000;
    }

    &--success {
        background-color: #228b22;
        color: #ffffff;
    }
}