/* ----- FORMS ----- */
form {
    width: 100%;
}

input {
    border: 1px solid $grey2;
    padding: 0.5em;
    width: 100%;
}

label {
    display: inline-block;
    line-height: 36px;
}

select {
    background-color: #ffffff;
    border: 1px solid $grey2;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 100%;
}

.form__modules--middle-width {
    margin: 48px auto 0;
    width: 50%;
}