@import "bourbon/bourbon";
@import "../css/font-awesome.css";

$blue1: #1e88e5;
$blue2: #17579d;
$grey1: #c0c0c0;
$grey2: #cccccc;

@include font-face("lato", "../fonts/Lato-Regular-webfont");

@import "forms";
@import "tables";
@import "buttons";

*,
*::after,
*::before {
    @include box-sizing(border-box);
}

html,
body {
    height: 100%;
}

body {
    background: url("../images/squairy_light.png") repeat;
    font-family: "lato", serif;
}

footer {
    @include align-self(flex-end);
    background-color: $grey1;
    @include flex(1 100%);
    height: 48px;
    width: 100%;
}

header {
    background-color: $blue1;
    border-bottom: 2px solid $blue2;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
    @include display(flex);
    @include justify-content(space-between);
}
    .brand {
        margin: 0;
        display: block;
    }
    .user {
        font-weight: bold;
        padding: 0 1em;
        background: $blue2;
        color: white;
        cursor: pointer;
    }
    .user__menu {
        position: absolute;
        top: 50px;
        right: 0;
        border: 1px solid black;
        background: white;
        padding: 0 1em;
        display: none;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

.main {
    @include display(flex);
    @include flex(1);
    height: 100%;
    height: 100vh;
    @include justify-content(center);
}

/* ---------- Login Module ------------ */
.login-tittle {
    text-align: center;
    margin: 0 0 0.5em 0;
}

.form-login {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 1em;
    margin: 0 auto;
    width: 300px;
}

.form-login{
    &__header {
        background-color: $grey2;
        border-radius: 1em 1em 0 0;
        text-align: center;
        margin-bottom: 1em;
    }
    &__title {
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
        margin: 0;
        padding: 0.5em;
    }
    &__content {
        padding: 0.5em 1em;
    }
    &__input {
        @include display(flex);
        margin-bottom: 0.5em;
        &--user,
        &--pass {
            @include flex(1);
            &:last-child {
                border-radius: 0 0.25em 0.25em 0;
                border-left: 0;
            }
        }
    }
    &__label {
        &--user,
        &--pass {
            background-color: rgba(147, 128, 108, 0.1);
            padding: 0.5em 0.75em;
            &:first-child {
                border: 1px solid $grey2;
                border-radius: 0.25em 0 0 0.25em;
            }
        }
    }
    &__actions {
        @include display(flex);
        @include justify-content(flex-end);
    }
}

/* -------- Basic Layout (common) ------------ */
.wrapper {
    height: 100%;
    height: 100vh;
    padding-left: 200px;
    padding-top: 50px;
    width: 100%;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.5);
    border-right: 1px solid $grey2;
    height: 100%;
    height: 100vh;
    left: 0;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 200px;
}

.nav {
    list-style: none;
    margin-top: 1em;
    padding: 0;
    li>a {
        border-left: 5px solid transparent;
        color: #333333;
        display: block;
        line-height: 23px;
        padding: 0.25em 1em;
        text-decoration: none;
        i {
            width: 2em;
        }
        &:hover {
            background-color: rgba(200, 200, 200, 0.9);
            font-weight: bold;
        }
        &.active {
            background-color: rgba(200, 200, 200, 0.8);
            border-left: 5px solid $blue2;
            font-weight: bold;
        }
    }
}

/* ------------ Modules ------------ */
.main--login {
    background-color: #fafafa;
    padding: 1em;
    min-height: 100%;
    min-height: 100vh;
}

.header__modules {
    border-bottom: 1px solid $grey2;
    @include display(flex);
    height: 40px;
    @include justify-content(space-between);

    &__title {
        line-height: 40px;
        margin: 0;
    }
}

.info__last-contract {
    text-align: center;
    font-size: 20px;
    width: 90%;
    margin: 1em auto 0;
    border: 1px solid darkseagreen;
    border-radius: 0.5em;
    background: lightgreen;
    padding: 0.5em;
}

.info__lists-contracts {
    @include display(flex);
    .info__contracts-expires,
    .info__contracts-without-scan {
        width: 50%;
        margin: 0.5em;
    }
}

.list__items {
    &__module {
        margin-top: 0.5em;
    }
}

.form-modules {
    padding-top: 1em;

    &--row {
        @include display(flex);
        margin: 0.5em 0;
        align-items: center;

        &-justify {
            @include justify-content(space-between)
        }

        &-left {
            @include justify-content(flex-start)
        }

        &-right {
            @include justify-content(flex-end)
        }
    }
}



.input {
    &__text {
        height: 70px;
    }
    &--full-width {
        width: 100%;
    }
    &--d2 {
        width: 2em;
    }
    &--d4 {
        width: 4em;
    }
    &--auto-width {
        width: auto;
    }
}

.select--full-width {
    width: 100%;
}
/* Filtros */
.form__filter {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-end);
    .filter__item {
        width: 33.3%;
        padding: 0.5em 0;
        label {
            width: 21%;
            text-align: right;
            padding-right: 0.5em;
        }
        input,
        select {
            width: 78%;
        }
    }
    .filter__item--half {
        width: 50%;
    }
}

/* Detail */
.detail {
    @include display(flex);
    @include flex-wrap(wrap);
    h3 {
        width: 100%;
        margin-bottom: 0;
        border-bottom: 1px solid $grey1;
    }
    .column {
        width: 33.33%;
        padding: 1em 1em 0;
        .detail__item{
            //@include display(flex);
            margin: 0.5em 0 0;
            padding-bottom: 0.5em;

            border-bottom: 1px solid black;
        }
        p {
            width: 100%;
            margin: 0;
        }
        span {
            font-weight: bold;
            width: 30%;
            text-align: right;
            padding-right: 1em;
        }
    }
    .column--fullwidth {
        width: 100%;
        padding: 0 1em;
    }
    .column--halfwidth {
        width: 50%;
    }
}

/* -------- Helpers -------- */
.va-container {
    @include align-items(center);
    @include display(flex);
    height: 100%;
    height: 100vh;
}

.success {
    color: #228b22;
}

.failure {
    color: #cd5c5c;
}

.pagination {
    @include display(flex);
    @include justify-content(center);
    text-align: center;
    width: 100%;
}

.current-page {
    margin: 0.5em 1em;
}

.step-links {
    margin: 0.5em 0;
    a {
        color: #333333;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &--previous {
        text-align: right;
    }
    &--next {
        text-align: left;
    }
}

.full-width {
    width: 100%;
}
.half-width {
    width: 49%;
}
.quarter-width {
    width: 24%;
}
.fifth-width {
    width: 19.5%;
    .chosen-container {
        width: 100% !important;
    }
}
.display-flex {
    @include display(flex);
}

.errorlist {
    color: #b22222;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chosen-container {
    width: 90% !important;
}

.center {
    text-align: center;
}