{% extends 'base__loged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Agregar contratista</h2>
        <div class="header__modules__actions">
            <a href="{% url 'contractor:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Volver al listado</a>
        </div>
    </div>
    <section class="form__modules">
        <form action="." method="post" id="formContractor">
            {% csrf_token %}
            <input id="id_user" name="user" type="hidden" value="{{ user.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.identification_type.label_tag }}</div>
                <div class="half-width">{{ form.identification.label_tag }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.identification_type }}</div>
                <div class="half-width">{{ form.identification }} - {{ form.dv }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.identification_type.errors }}</div>
                <div class="half-width">{{ form.identification.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.name }}</div>
                <div class="half-width">{{ form.address }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="half-width">{{ form.name.errors }}</div>
                <div class="half-width">{{ form.address.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="quarter-width">{{ form.phone }}</div>
                <div class="quarter-width">{{ form.cellphone }}</div>
                <div class="half-width">{{ form.agent }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="quarter-width">{{ form.phone.errors }}</div>
                <div class="quarter-width">{{ form.cellphone.errors }}</div>
                <div class="half-width">{{ form.agent.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-right">
                <button class="btn btn--default" type="submit"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </section>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/contractor_app.js' %}"></script>
{% endblock %}