{% extends 'base__loged.html' %}
{% load humanize %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">{{ object.name }}</h2>
        <div class="header__modules__actions">
            <a href="javascript:history.back()" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Listado de contratos</a>
        </div>
    </div>
    <section class="detail">
        <div class="column column--left">
            <div class="detail__item">
                <span>Identificación:</span><p>{{ object.identification_type.name_idtype }}: {{ object.identification }}{% if object.dv %}-{{ object.dv }}{% endif %}</p>
            </div>
            <div class="detail__item">
                <span>Dirección:</span>
                <p>{{ object.address }}</p>
            </div>
        </div>
        <div class="column column-center">
            <div class="detail__item">
                <span>Nombre completo:</span>
                <p>{{ object.name }}</p>
            </div>
            <div class="detail__item">
                <span>Teléfono:</span>
                <p>{{ object.phone }}</p>
            </div>
        </div>
        <div class="column column-right">
            <div class="detail__item">
                <span>Representante legal:</span>
                <p>{% if object.agent %}{{ object.agent }}{% endif %}</p>
            </div>
            <div class="detail__item">
                <span>Celular:</span>
                <p>{{ object.cellphone }}</p>
            </div>
        </div>
        <h3>Contratos</h3>
        {% for c in object.contract_set.all %}
            <div class="column column-left">
                <div class="detail__item">
                    <span>Contrato No:</span>
                    <p><a href="{% url 'contract:detail' c.id %}">{{ c.get_contract_number }}</a></p>
                </div>
            </div>
            <div class="column column-center">
                <div class="detail__item">
                    <span>Fecha de suscripción:</span>
                    <p>{{ c.subscription_date }}</p>
                </div>
            </div>
            <div class="column column-right">
                <div class="detail__item">
                    <span>Monto:</span>
                    <p>$ {{ c.total_amount|intcomma }}</p>
                </div>
            </div>
        {% empty %}
            <h4>Este contratista no tiene contratos</h4>
        {% endfor %}
    </section>
{% endblock %}