{% extends 'base__loged.html' %}
{% load static from staticfiles %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Contratistas</h2>
        <div class="header__modules__actions">
            {% if user.is_staff %}
                <a href="{% url 'contractor:add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Agregar Contratista</a>
            {% endif %}
        </div>
    </div>
    <div class="filter__modules">
        <form action="." method="get" class="form__filter">
            {% for f in form %}
                <div class="filter__item filter__item--half">
                    {{ f.label_tag }}{{ f }}
                </div>
            {% endfor %}
            <div class="filter__actions">
                <button type="reset" id="reset_filter_form" class="btn btn--warning"><i class="fa fa-close"></i> Resetear</button>
                <button type="submit" class="btn btn--success"><i class="fa fa-filter"></i> Filtrar</button>
            </div>
        </form>
    </div>
    <section class="list__items__module">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Identificación</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th></th>
                {% if user.is_staff %}
                    <th></th>
                {% endif %}
            </tr>
            {% for c in object_list %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.identification }}{% if c.dv %}-{{ c.dv }}{% endif %}</td>
                    <td>{{ c.phone }}</td>
                    <td>{{ c.cellphone }}</td>
                    <td><a class="btn btn--default" href="{% url 'contractor:detail' c.id %}"><i class="fa fa-file-text-o"></i></a></td>
                    {% if user.is_staff %}
                        <td><a class="btn btn--default" href="{% url 'contractor:edit' c.id %}"><i class="fa fa-edit"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/contractor_app_index.js' %}"></script>
{% endblock %}