{% extends 'base__loged.html' %}
{% load static from staticfiles %}
{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/default.date.css' %}"/>
{% endblock %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Agregar prorroga contrato {{ contrato.get_contract_number }}</h2>
        <div class="header__modules__actions">
            <a href="{% url 'contract:home' %}" class="btn btn--default"><i class="fa fa-arrow-circle-left"></i> Volver a contratos</a>
        </div>
    </div>
    <section class="form__modules form__modules--middle-width">

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="user" id="id_user" value="{{ user.id }}"/>
            <input type="hidden" name="contract" id="id_contract" value="{{ contrato.id }}"/>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.end_date.label }}{{ form.end_date }}{{ form.end_date.errors }}</div>
            </div>
            <div class="form-modules--row form-modules--row-justify">
                <div class="full-width">{{ form.scan.label }}{{ form.scan }}{{ form.scan.errors }}</div>
            </div>
            <button type="submit" class="btn btn--default"><i class="fa fa-save"></i> Guardar</button>
        </form>
    </section>
{% endblock %}
{% block JS %}
    {{ block.super }}
    <script src="{% static 'js/vendor/picker.js' %}"></script>
    <script src="{% static 'js/vendor/picker.date.js' %}"></script>
    <script src="{% static 'js/vendor/translations/es_ES.js' %}"></script>
    <script>
        $(document ).ready(function() {
            $('#id_end_date').pickadate({
                format: 'dd/mm/yyyy',
                selectYears: true,
                selectMonth: true
            })
        })
    </script>
{% endblock %}