{% extends 'base__loged.html' %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Prorrogas</h2>
        <div class="header__modules__actions">
{#            <a href="{% url 'contract:extension_add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Agregar Prorrogas</a>#}
        </div>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
            <tr>
                <th>Contrato</th>
                <th>Fecha Nueva prorroga</th>
                <th>Documento</th>
                <th>Ingresada el</th>
            </tr>
            </thead>
            <tbody>
                {% for p in object_list %}
                    <tr>
                        <td>{{ p.contract.get_contract_number }}</td>
                        <td>{{ p.end_date }}</td>
                        <td>
                            <p>{% if p.scan %}<a href="{{ MEDIA_URL }}{{ p.scan }}" target="_blank">Extensión</a>{% else %}No se ha subido la extensión{% endif %}</p>
                        </td>
                        <td>{{ p.created_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="center">
                            No hay prorrogas
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}