{% extends 'base__loged.html' %}
{% block main--loged %}
    <div class="header__modules">
        <h2 class="header__modules__title">Otro Sí</h2>
        <div class="header__modules__actions">
{#            <a href="{% url 'contract:otheryes_add' %}" class="btn btn--default"><i class="fa fa-plus-circle"></i> Agregar Otro Sí</a>#}
        </div>
    </div>
    <section class="list__items__module">
        <table>
            <thead>
            <tr>
                <th>Contrato</th>
                <th>Descripción</th>
                <th>Documento</th>
                <th>Ingresada el</th>
            </tr>
            </thead>
            <tbody>
                {% for o in object_list %}
                    <tr>
                        <td>{{ o.contract.get_contract_number }}</td>
                        <td>{{ o.description }}</td>
                        <td>
                            <p>{% if o.scan %}<a href="{{ MEDIA_URL }}{{ o.scan }}" target="_blank">Otro sí</a>{% else %}No se ha subido el otro sí{% endif %}</p>
                        </td>
                        <td>{{ o.created_at }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="center">
                            No hay Adiciones
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}