{% extends 'base.html' %}
{% load static from staticfiles %}
{% block header %}
    <header>{% block header--loged %}
        <h2 class="brand">Fundación Escuela Taller Bogota</h2>
        <div class="user">
            {{ user.get_full_name }}
        </div>
        <div class="user__menu is_hidden">
            <ul>
                <li><a href="{% url 'home:logout' %}">Cerrar sesión</a></li>
            </ul>
        </div>
    {% endblock %}</header>
{% endblock %}
{% block main %}
    <div class="wrapper">
        <section class="sidebar">
            <ul class="nav">
                {% for i in menu %}
                    <li><a href="{{ i.url }}" {% if i.active %}class="active" {% endif %}><i class="fa fa-{{ i.icon }}"></i>{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section class="main--login">
            {% block main--loged %}{% endblock %}
        </section>
    </div>
{% endblock %}
{% block footer %}
{#    <footer>{% block footer--loged %}{% endblock %}</footer>#}
{% endblock %}
{% block JS %}
    <script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}