{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seguimiento de contratos</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block extraCSS %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}
    {% block JS %}{% endblock %}
</body>
</html>