@import url(../css/font-awesome.css);
@font-face { font-family: "lato"; font-style: normal; font-weight: normal; src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff2") format("woff2"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#lato") format("svg"); }
/* ----- FORMS ----- */
form { width: 100%; }

input { border: 1px solid #cccccc; padding: 0.5em; width: 100%; }

label { display: inline-block; line-height: 36px; }

select { background-color: #ffffff; border: 1px solid #cccccc; display: inline-block; height: 36px; line-height: 36px; width: 100%; }

.form__modules--middle-width { margin: 48px auto 0; width: 50%; }

/* ----- TABLES ----- */
table { text-align: left; width: 100%; }

td, th { padding-left: 1em; }

thead { background-color: #f5f5f5; border-bottom: 1px solid #cccccc; line-height: 32px; }

tbody tr { line-height: 40px; }
tbody tr:nth-child(even) { background-color: #e1f5fe; }

/* ------ BUTTONS ------ */
.btn { background-color: #ffffff; border: 1px solid #cccccc; border-radius: 0.25em; display: inline-block; line-height: 0; padding: 0.5em; text-decoration: none; }
.btn--default { background-color: #4169e1; color: #ffffff; }
.btn--warning { background-color: #e85700; color: #000000; }
.btn--success { background-color: #228b22; color: #ffffff; }

*, *::after, *::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100%; }

body { background: url("../images/squairy_light.png") repeat; font-family: "lato", serif; }

footer { -webkit-align-self: flex-end; -moz-align-self: flex-end; align-self: flex-end; -ms-flex-item-align: end; background-color: #c0c0c0; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1 100%; -moz-flex: 1 100%; -ms-flex: 1 100%; flex: 1 100%; height: 48px; width: 100%; }

header { background-color: #1e88e5; border-bottom: 2px solid #17579d; height: 50px; line-height: 50px; padding: 0 0 0 1em; position: fixed; width: 100%; z-index: 1000; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }

.brand { margin: 0; display: block; }

.user { font-weight: bold; padding: 0 1em; background: #17579d; color: white; cursor: pointer; }

.user__menu { position: absolute; top: 50px; right: 0; border: 1px solid black; background: white; padding: 0 1em; display: none; }
.user__menu ul { list-style: none; margin: 0; padding: 0; }
.user__menu a { color: black; text-decoration: none; }
.user__menu a:hover { text-decoration: underline; }

.main { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; height: 100%; height: 100vh; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -ms-flex-pack: center; }

/* ---------- Login Module ------------ */
.login-tittle { text-align: center; margin: 0 0 0.5em 0; }

.form-login { background-color: #ffffff; border: 1px solid #000000; border-radius: 1em; margin: 0 auto; width: 300px; }

.form-login__header { background-color: #cccccc; border-radius: 1em 1em 0 0; text-align: center; margin-bottom: 1em; }
.form-login__title { box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5); margin: 0; padding: 0.5em; }
.form-login__content { padding: 0.5em 1em; }
.form-login__input { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; margin-bottom: 0.5em; }
.form-login__input--user, .form-login__input--pass { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }
.form-login__input--user:last-child, .form-login__input--pass:last-child { border-radius: 0 0.25em 0.25em 0; border-left: 0; }
.form-login__label--user, .form-login__label--pass { background-color: rgba(147, 128, 108, 0.1); padding: 0.5em 0.75em; }
.form-login__label--user:first-child, .form-login__label--pass:first-child { border: 1px solid #cccccc; border-radius: 0.25em 0 0 0.25em; }
.form-login__actions { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }

/* -------- Basic Layout (common) ------------ */
.wrapper { height: 100%; height: 100vh; padding-left: 200px; padding-top: 50px; width: 100%; }

.sidebar { background-color: rgba(255, 255, 255, 0.5); border-right: 1px solid #cccccc; height: 100%; height: 100vh; left: 0; padding-top: 50px; position: fixed; top: 0; width: 200px; }

.nav { list-style: none; margin-top: 1em; padding: 0; }
.nav li > a { border-left: 5px solid transparent; color: #333333; display: block; line-height: 23px; padding: 0.25em 1em; text-decoration: none; }
.nav li > a i { width: 2em; }
.nav li > a:hover { background-color: rgba(200, 200, 200, 0.9); font-weight: bold; }
.nav li > a.active { background-color: rgba(200, 200, 200, 0.8); border-left: 5px solid #17579d; font-weight: bold; }

/* ------------ Modules ------------ */
.main--login { background-color: #fafafa; padding: 1em; min-height: 100%; min-height: 100vh; }

.header__modules { border-bottom: 1px solid #cccccc; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 40px; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.header__modules__title { line-height: 40px; margin: 0; }

.info__last-contract { text-align: center; font-size: 20px; width: 90%; margin: 1em auto 0; border: 1px solid darkseagreen; border-radius: 0.5em; background: lightgreen; padding: 0.5em; }

.info__lists-contracts { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.info__lists-contracts .info__contracts-expires, .info__lists-contracts .info__contracts-without-scan { width: 50%; margin: 0.5em; }

.list__items__module { margin-top: 0.5em; }

.form-modules { padding-top: 1em; }
.form-modules--row { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; margin: 0.5em 0; align-items: center; }
.form-modules--row-justify { -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.form-modules--row-left { -webkit-box-pack: start; -moz-box-pack: start; box-pack: start; -webkit-justify-content: flex-start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; -o-justify-content: flex-start; justify-content: flex-start; -ms-flex-pack: start; }
.form-modules--row-right { -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }

.input__text { height: 70px; }
.input--full-width { width: 100%; }
.input--d2 { width: 2em; }
.input--d4 { width: 4em; }
.input--auto-width { width: auto; }

.select--full-width { width: 100%; }

/* Filtros */
.form__filter { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal; box-direction: normal; -webkit-flex-direction: row; -moz-flex-direction: row; flex-direction: row; -ms-flex-direction: row; -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }
.form__filter .filter__item { width: 33.3%; padding: 0.5em 0; }
.form__filter .filter__item label { width: 21%; text-align: right; padding-right: 0.5em; }
.form__filter .filter__item input, .form__filter .filter__item select { width: 78%; }
.form__filter .filter__item--half { width: 50%; }

/* Detail */
.detail { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.detail h3 { width: 100%; margin-bottom: 0; border-bottom: 1px solid #c0c0c0; }
.detail .column { width: 33.33%; padding: 1em 1em 0; }
.detail .column .detail__item { margin: 0.5em 0 0; padding-bottom: 0.5em; border-bottom: 1px solid black; }
.detail .column p { width: 100%; margin: 0; }
.detail .column span { font-weight: bold; width: 30%; text-align: right; padding-right: 1em; }
.detail .column--fullwidth { width: 100%; padding: 0 1em; }
.detail .column--halfwidth { width: 50%; }

/* -------- Helpers -------- */
.va-container { -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 100%; height: 100vh; }

.success { color: #228b22; }

.failure { color: #cd5c5c; }

.pagination { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -ms-flex-pack: center; text-align: center; width: 100%; }

.current-page { margin: 0.5em 1em; }

.step-links { margin: 0.5em 0; }
.step-links a { color: #333333; text-decoration: none; }
.step-links a:hover { text-decoration: underline; }
.step-links--previous { text-align: right; }
.step-links--next { text-align: left; }

.full-width { width: 100%; }

.half-width { width: 49%; }

.quarter-width { width: 24%; }

.fifth-width { width: 19.5%; }
.fifth-width .chosen-container { width: 100% !important; }

.display-flex { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.errorlist { color: #b22222; list-style: none; margin: 0; padding: 0; }

.chosen-container { width: 90% !important; }

.center { text-align: center; }

/*# sourceMappingURL=styles.css.map */
