@import 'nib'
@import "font-awesome.css"

/* Font Face */
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Vars */
blue1 = #1e88e5
blue2 = #17579d
grey1 = #c0c0c0
grey2 = #cccccc

/* Selectors */
*
    box-sizing border-box
    font-family "lato", sans-serif

html, body
    height 100%

body
    background url("../images/squairy_light.png") repeat

footer
    align-self flex-end
    background-color grey1
    flex 1 100%
    height 48px
    width 100%

form
    width 100%

header
    background-color blue1
    border-bottom 2px solid blue2
    height 50px
    position fixed
    width 100%
    z-index 1000
    &::before
        content " "
        display table

input
    border 1px solid grey2
    padding 0.5em
    width 100%

label
    display inline-block
    line-height 36px

select
    background-color #FFFFFF
    border 1px solid grey2
    display inline-block
    height 36px
    line-height 36px
    width 100%


/*TABLES*/
table
    text-align left
    width 100%

td, th
    padding-left 1em

thead
    background-color #f5f5f5
    border-bottom 1px solid grey2
    line-height 32px

tbody
    tr
        line-height 40px
        &:nth-child(even)
            background-color #e1f5fe


/* ----------------- BUTTONS -------------------- */

.btn
    background-color #ffffff
    border 1px solid grey2
    border-radius 0.25em
    display inline-block
    line-height 0
    padding 0.5em
    text-decoration none

    &--default
        background-color royalblue
        color #ffffff
    &--warning
        background-color #c17700
        color #000000
    &--success
        background-color #228b22
        color #ffffff


.main
    display flex
    flex 1
    height 100%
    justify-content center


/* ---------------------- Login ------------------------ */
.login-tittle
    text-align center
    margin 0 0 0.5em 0

.form-login
    background-color #ffffff
    border 1px solid #000000
    border-radius 1em
    margin 0 auto
    width 300px

.form-login__header
    background-color grey2
    border-radius 1em 1em 0 0
    text-align center
    margin-bottom 1em

.form-login__title
    box-shadow 0 2px 0 0 rgba(0, 0, 0, 0.5)
    margin 0
    padding 0.5em

.form-login__content
    padding 0.5em 1em

.form-login__input
    display flex
    margin-bottom 0.5em


.form-login__label--user,
.form-login__label--pass
    background-color: rgba(147, 128, 108, 0.1);
    padding 0.5em 0.75em
    &:first-child
        border 1px solid grey2
        border-radius 0.25em 0 0 0.25em

.form-login__input--user,
.form-login__input--pass
    flex 1
    &:last-child
        border-radius 0 0.25em 0.25em 0
        border-left 0

.form-login__actions
    display flex
    justify-content flex-end

/* ------------------------ Basic Layout ------------------------ */
.wrapper
    height 100%
    padding-left 200px
    padding-top 50px
    width 100%

.sidebar
    background-color rgba(255, 255, 255, 0.5)
    border-right  1px solid grey2
    height 100%
    left 0
    padding-top 50px
    position fixed
    top 0
    width 200px

.nav
    list-style none
    margin-top 1em
    padding 0
    li>a
        color #333333
        display block
        line-height 23px
        padding 0.25em 1em
        text-decoration none
        i
            width 2em
        &:hover
            background-color rgba(200, 200, 200, 0.9)
            font-weight bold
        &.active
            background-color rgba(200, 200, 200, 0.8)
            font-weight bold


/* ------------------------ MODULES ---------------------- */
.main--login
    background-color #fafafa
    padding 1em
    min-height 100%
.header__modules
    border-bottom 1px solid grey2
    display flex
    height 40px
    justify-content space-between

    &__title
        line-height 40px
        margin 0

.list__items
    &__module
        margin-top 0.5em

.form-modules
    padding-top 1em

    &--row
        display flex
        margin 0.5em 0
        align-items center

        &-justify
            justify-content space-between

        &-left
            justify-content flex-start

        &-right
            justify-content flex-end


.input
    &__text
        height 70px
    &--full-width
        width 100%
    &--d2
        width 2em
    &--d4
        width 4em



.select--full-width
    width 100%


/* --------------------- HELPERS -------------------- */
.va-container
    align-items center
    display flex
    height 100%

.success
    color #228b22

.failure
    color #cd5c5c

.pagination
    display flex
    justify-content center
    text-align center
    width 100%

.current-page
    margin 0.5em 1em

.step-links
    margin 0.5em 0
    a
        color #333333
        text-decoration none
        &:hover
            text-decoration underline
    &--previus
        text-align right
    &--next
        text-align left

.full-width
    width 100%
.half-width
    width 49%
.quarter-width
    width 24%
.fifth-width
    width 19.5%
    .chosen-container
        width 100% !important

.errorlist
    color firebrick
    list-style none
    margin 0
    padding 0

.chosen-container
    width 90% !important